
<%= render 'shared/background' %>
<h1>About Twitter Clone by Travis Delly</h1>
<p>This project was started on april 15th</p>

<br></br>
<div class="row">
	<section class = "col-md-6">
		<ul>
			<li><%= link_to "Developper Travis Delly", "#" %></li>
			<li><%= link_to "Development Period: Roughly 2weeks", "#" %></li>
			<li><%= link_to "When Life throws you Lemons? Make Lemonade.", "#" %></li>
		</ul>
	</section>
</div>

<br></br><br></br><br></br><br></br>

<div style="float:left; padding-left:30px;padding-bottom:30px;">
    <%= link_to "<< Home Page", root_path %>
</div>
